[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "==2.1.0"
djangorestframework = "==3.7.7"
PyMySQL = "==0.8.0"
Django = "<2.0.0,>=1.11.8"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.7"
